@page
@model WebApplication.Pages.USER.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class="col-sm-10">
           @if (Model.Order.ShippedDate != null)
                    {
                          @Html.DisplayFor(model => model.Order.ShippedDate)
                    }else{
                        <p>N/A</p>
                    }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>
        <h4>Customer's Information</h4>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.Country)
        </dd>
    </dl>
</div>
<table border="1" class="table-bordered">
    <thead><tr>
            <th>
                Flower
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Discount
            </th>
            <th>
                Price total
            </th>
           
    </tr>
       
    </thead>
    <tbody>
        @foreach (var detail in Model.Details)
        {
            <tr>
                <td>
                    @detail.FlowerBouquet.FlowerBouquetName
                </td>

                <td>
                    @detail.FlowerBouquet.UnitPrice
                </td>
                <td>
                    @detail.Quantity
                </td>
                <td>
                    @detail.Discount
                </td>
                <td>
                    @(detail.FlowerBouquet.UnitPrice * detail.Quantity - (detail.FlowerBouquet.UnitPrice * detail.Quantity)*(int)detail.Discount)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Information">Back to List</a>
</div>
